:root {
    /* font-size */
    --size-max: 25px;
    --size-big: 20px;
    --size-medium: 16px;
    --size-small: 12px;

    /* font weight */
    --weight-max: 700;
    --weight-bold: 600;
    --weight-medium: 500;
    --weight-thin: 400;

    /* space*/
    --space-max: 50px;
    --space-big: 20px;
    --space-medium: 16px;
    --space-small: 12px;
    --space-min: 5px;

    /*round*/
    --round-medium: 15px;

    /* color */
    --color-red: #D23E3E;
    --color-opacity: #757575;
    --color-black: #5c5b5b;
    --basic-color: #1B8BCB;

    /* box shadow */
    --shadow-main: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
}

input {
    outline: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

#root {
    width: 375px;
    height: 765px;
    padding: var(--space-medium);
    overflow: hidden;
    border-radius: var(--round-medium);
    background-color: white;
}